html {
  @include font-regular;
  color: $color-neutral-cobalt-black;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.ul-no-style {
  padding: 0;
  list-style: none;
  margin: 0;
}
a {
  @include anim-hover;
  &:hover,
  &:focus {
    color: $color-status-green-hover;
  }
  &:active {
    color: $color-status-green-active;
  }
}

.visually-hidden {
  opacity: 0;
  height: 1px;
  width: 1px;
  position: absolute;
}
